<p>
	This is a small demo project to evaluate the usage of the following libraries together:
	Spring boot, webpack, NProgress and Chartjs.
	The only thing that you could do is clicking the following button.
	For each click, an ajax request is executed to the server, where the data of an random bar chart is created.
	These data is rendered on the client.
</p>

<div class="text-center">
	<br/>
	<a th:href="${randomChartService.href}" class="btn btn-info" role="button" 
			th:onclick="'Application.loadChart(\'' + ${randomChartService.href} +'\'); return false;'">
		Generate Random Bar Chart!
	</a>
	<a th:href="${randomGreetingService.href}" class="btn btn-info">
		Generate Random Greeting!
	</a>
	<br/>
</div>
